* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.form {
  width: 35%;
  height: auto;
  padding: 30px;
  margin: 50px auto;
  font-size: 25px;
  line-height: 1.6em;
  border-radius: 10px;
  border: 2px black solid;
}
.text {
  font-size: 20px;
}
.button {
  padding: 15px;
  font-size: 20px;
  text-align: center;
  margin: 10px 10px;
  background: rgb(52, 50, 62);
  color: white;
  border-radius: 10px;
}

.button:hover {
  font-weight: bold;
  cursor: pointer;
}

.title {
  background: linear-gradient(to right, #abebc6, #186a3b);
  background-clip: text;
  color: transparent;
}

.main {
  height: 100vh;
}

.submit-btn {
  transition: all 0.5s;
  height: 6vh;
}

.submit-btn:hover {
  transform: scale(1.1);
  height: 8vh;
}

.task {
  transition: all 0.8s;
  cursor: pointer;
}

.task > div {
  background: #ffff99;
  color: black;
}

.task:hover {
  transform: scale(1.1);
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.8s;
}

.slide-enter {
  opacity: 0;
  transform: translateX(-10rem);
}
